*{

}
body{
    margin: 0;
    padding: 0;
    background: rgb(240, 239, 239);
}

a{
    text-decoration: none;
    color: rgb(84, 84, 84);
    /* margin: auto; */
}

.board .item a:hover{
    font-weight: bold;
}

/* .board .item img:hover{
    filter:alpha(Opacity=80);
    opacity: 0.8;
} */

.catagory{
    width: 1200px;
    margin: 20px auto;
}

.board{
    width: 1200px;
    margin: 20px auto;
    columns: 5;
    column-gap: 40px;

}

.board .item{
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
    font-size: 20px;
}
.board .item:hover{
    box-shadow: 0px 0px 24px rgb(208, 208, 208) ;
    box-shadow: 0px 24px 24px rgb(208, 208, 208) ;
}

.board .item img{
    max-width: 100%;
}



h1 {
    /* display: inline; */
    display: inline-block;
    padding: 15px;
    border: 1px solid rgb(213, 56, 56);
    font-size: 18px;
    color: rgb(213, 56, 56);
    padding: 10px;
}

.board .item h2{
    margin: 10px 0 0;
    font-size: 14px;
}

.board .item p{
    font-size: 10px;
}

.board .item iframe{
    width: 100%;
}
.menu {
    background-color: rgba(255, 255, 255, 0.968);
    width: 100%;
    height: auto;
    text-align: left;
    z-index: 3;
    position: fixed;
    margin: 0 auto;
    left: 0px;
    top: 0px;
    padding: 2px;
    box-shadow: 0px 4px 4px rgba(89, 89, 89, 0.119) ;
    font-size: 12px;
  }

  #m{
    display: inline;
  }

@media screen and (max-width: 1200px) {
    .board {
      column-count: 5;
      width: calc(100% - 40px);
      box-sizing: border-box;
      padding: 20px 20px 20px 0;
    }

    .catagory{
        width: calc(100% - 40px);
        margin: 20px auto;
    }
  }
  @media screen and (max-width: 900px) {
    .board {
      column-count:3;
    }
    .catagory{
        width: calc(100% - 40px);
        margin: 20px auto;
    }
  }
  @media screen and (max-width: 500px) {
    .board {
      column-count: 2;
    }
    .catagory{
        width: calc(100% - 40px);
        margin: 20px auto;
    }
  }

  @media screen and (max-width: 450px) {
    .board {
      column-count: 1;
    }
    .catagory{
        width: calc(100% - 40px);
        margin: 20px auto;
    }
  }
  