body{
    display: block;
    background-color: rgb(0, 0, 0);
    /* text-align: center; 
    margin: 0 auto;
    overflow: hidden;  */
    /* background-image: url("pic/street.jpg"); */
}

#defaultCanvas0 {
    /* display: inline;
    /* background-color: rgb(0, 0, 0); */
    /* text-align: center; */
    /* margin: 0 auto;  */
    /* border:1px rgb(0, 0, 0) solid; */
    /* padding: 0px 100px 100px 0px; */
    /* overflow: hidden; */ 
}


#defaultCanvas1 {
    display: inline;
    background-color: gray;
    text-align: center;
    margin: 0 auto; 
    padding: 0px 100px 100px 0px;
}

#w{
    position: 500, 500;
}

#w2{

}

#m{
}

#dv{
    position: absolute;
}
